main div ul li a {
    text-decoration: none;
    color: #000;
}

main div ul li {
    border: #000 1px solid;
    margin-top: 10%;
}

main div ul {
    list-style: none;
}

main div {
    padding-left: 2%;
    padding-right: 2%;
    border: #000 1px solid;
}

main {
    display: flex;
    justify-content: flex-start;
}