* {
    background-color: violet;
}

#content{
    border: 1px black solid;
    border-radius: 2%;
    background-color: grey;
}

main div ul li a {
    text-decoration: none;
    color: #000;
}

header,
main,
main div,
footer {
    border: #000 1px solid;
}

header, header h1{
    background-color: grey;
}

header {
    padding-left: 2%;
}

main div ul li {
    border: #000 1px solid;
    border-radius: 15%;
    margin-top: 10%;
}

main {
    background-color: whitesmoke;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    min-height: 80vh;
}

main div {
    max-height: 225px;
    border-radius: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

main div ul *{
    background-color: orange;
}

main div *, main div{
    background-color: aquamarine    ;
}

footer p {
    padding-top: 5%;
    text-align: center;
    margin-bottom: auto;
}

header{
    border-top: none;
    border-left: none;
    border-right: none;
}

footer, footer *{
    background-color: aliceblue;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
